src/UltimateServiceMocker.Infrastructure/bin/Debug/UltimateServiceMocker.Infrastructure.pdb
src/UltimateServiceMocker.Infrastructure/bin/Debug/UltimateServiceMocker.Infrastructure.pdb
src/UltimateServiceMocker.Infrastructure/obj/Debug/UltimateServiceMocker.Infrastructure.pdb
src/UltimateServiceMocker/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
